@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lumanosimo&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  overflow: hidden;
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7rem auto;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 0.4px gray;
}

#leftside {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

#leftside img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#rightside {
  padding: 2rem;
}

h4 {
  color: #c7b9a8;
  font-size: 1.1rem;
  font-weight: 400;
}

h1 {
  margin-block: 2rem;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  font-family: "Lumanosimo", cursive;
  font-family: "Montserrat", sans-serif;
}

.text-content {
  margin-top: 2em;
  color: #c7b9a8;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
  font-family: "Lumanosimo", cursive;
  font-family: "Montserrat", sans-serif;
}

.prizedata {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.reduced-prize {
  font-size: 2em;
  font-weight: bold;
}

.original-prize  {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%); /* Change the color to your desired color */
  /* You can also add more styles here, such as font-size or font-weight */
}

.original-prize {
  font-size: 1rem;
  font-weight: 600;
}

.prize-card {
  display: grid;
  padding: 4rem;
  margin-top: 1rem;
}

.btn {
    width: 90%;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.6rem;
  border: 0.1em solid hsl(158, 36%, 37%);
  border-radius: 0.4rem;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: background-color .3s , transform 0.2s;
}

.btn:hover{
    background-color: hsl(158, 35%, 46%);
    transform: scale(1.05)
}

@media (max-width:800px) {
  .card {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: auto;
  }

  #rightside{
    padding-top: 3rem;
  }
  h4{
    color: #c7b9a8;
  font-size: 1rem;
  font-weight: 400;
  }

  h1 {
    margin-block: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .text-content {
    margin-top: 1.5em;
    font-size: 1rem;
    font-weight: 400;
  }

  


  .prizedata {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  
  .reduced-prize {
    font-size: 1.8em;
    font-weight: bold;
  }
  .original-prize {
    font-size: .8rem;
    font-weight: 600;
  }
  
  .prize-card {
    display: grid;
    padding: 3rem;
    margin-top: .7rem;
  }
  
  .btn {
      width: 70%;
    font-size: 0.82rem;
    padding: 0.6rem;
  }
}